<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate="~{layouts/base}">

<th:block layout:fragment="content">

    <div class="container" style="max-width: 600px">
        <div class="py-5 text-center">
            <h2>Welcome To SpadeWorker!</h2>
        </div>

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg rounded-pill" type="button"
                        th:onclick="|location.href='@{/account/add}'|">
                    Join
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-dark btn-lg rounded-pill" onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/account/login}'|" type="button">
                    Login
                </button>
            </div>
        </div>

        <hr class="my-4">

    </div> <!-- /container -->

</th:block>
</html>